<div class="text-field py-4 flex flex-col gap-2">
  <%= form.label :email, class: "font-semibold" %>
  <%= form.email_field :email, class: "rounded-md w-full" %>
</div>

<div class="password-field py-4 flex flex-col gap-2">
  <%= form.label :password, class: "font-semibold" %>
  <%= form.password_field :password, class: "rounded-md w-full"%>
</div>
